<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

        -<suite name="All Test Suite">


    -<test name="C:/Users/prathibag/IdeaProjects/testng.java/src/test/java/testng/demo1.java" preserve-order="true" verbose="2">


    -<classes>


    -<class name="testng.demo1">


    -<methods>

    <include name="testapp"/>

</methods>

</class>

</classes>

</test>

</suite>