<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/prathibag/IdeaProjects/testng.java">
    <classes><class name="testng.demo1"><methods><include name="testapp"/></methods></class></classes></test></suite>

